@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&display=swap');

.width-1600 {
    max-width: 1140px;
    margin: 0 auto;
    padding: 0 16px;
}

.color-pink__active-icon {

}